* {
    font-family: "Helvetica", "Verdana", sans-serif
}

.title {
    text-align: center;
    font-size: 50px;
    color: orange;
    background: black;
}

#smallbox {
    width: 400px;
    font-size: 50px;
    font-weight: bold;
    color: orange;
    background: black;
    text-align: center;
    padding: 10px;
    margin: 20px auto;
}

div.container {
    text-align: center;
}

i {
    color: gray;
}

/* Changes every food image to 500x500 */
img {
    width: 500px;
    height: auto;
}

/* Styles the navigation bar at the homepage */
nav a {
    padding: 10px;
    background: orange;
    display: inline-block;
    font-size: 20px;
}
